.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
  gap: 1px;
}

.rectangle-column {
  height: 1000px;
  width: 300px;
  border-style: solid;
  border-color: #ffefe1;
  border-radius: 5% 5% 10% 10%;
  border-width: 10px;
}

.rectangle-pet {
  width: 100px;
  height: 100px;
  border-style: solid;
  border-color: #ffefe1;
  border-width: 10px;
  color: red;
  display: flex;
  justify-content: center;
}

header {
  height: 100px;
  width: 300px;
  background-color: purple;
  border-radius: 0% 0% 30% 30%;
  display: flex;
  justify-content: center;
}

header h1 {
  color: lightblue;
}

h1 {
  color: pink;
}

h2 {
  color: blue;
}

h1,
h2 {
  text-align: center;
}

img {
	max-width: 100%;
	max-height: 100%;
}